extends layout

block content
  .row
    .neck
      h1.hammerfont.logobig
        i.fa.fa-dropbox.fa-3(style="padding:0 3px;")
        | Dragbox
      p.white #{__("FPO! Not a real company")}
      p.white #{__("Just a drop-box parody...")}
      p
        a.btn.btn-primary.btn-lg(role='button',href="#register") Register Now!
