extends layout

block content
  
  .row.our-main-content
    .page-header
        h1.text-center
            | Rewards 
      p.text-center Change your points for these awards exelentes
      row.our-main-content
        .col-sm-10.col-sm-offset-1
          .col-sm-6.col-md-4
            .thumbnail
              img(src='http://placehold.it/700x300&text=1GB', alt='...',style="height: 170px;")
              .centered
              .caption
                a.fa.fa-trophy.fa-3x.pull-right
                span.h2 Award  
                div(style="min-height: 100px;")
                  h4.text-center Change this award for 
                  h4.text-center 30 points          
                  button.btn.btn-success.btn-lg.center-block(href='#register', role='button') Change!
          .col-sm-6.col-md-4
            .thumbnail
              img(src='http://placehold.it/700x300&text=5GB', alt='...',style="height: 170px;")
              .centered
              .caption
                a.fa.fa-trophy.fa-3x.pull-right
                span.h2 Award  
                div(style="min-height: 100px;")
                  h4.text-center Change this award for 
                  h4.text-center 100 points          
                  button.btn.btn-success.btn-lg.center-block(href='#register', role='button') Change!
          .col-sm-6.col-md-4
            .thumbnail
              img(src='http://placehold.it/700x300&text=10GB', alt='...',style="height: 170px;")
              .centered
              .caption
                a.fa.fa-trophy.fa-3x.pull-right
                span.h2 Award  
                div(style="min-height: 100px;")
                  h4.text-center Change this award for 
                  h4.text-center 200 points          
                  button.btn.btn-success.btn-lg.center-block(href='#register', role='button') Change!
          